In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('GTFS/stop_times.csv')
df2 = pd.read_csv('GTFS/stops.csv')
df3 = pd.read_csv('GTFS/fare_rules.csv')
df4 = pd.read_csv('GTFS/routes.csv')
df5 = pd.read_csv('GTFS/calendar.csv')
df6 = pd.read_csv('GTFS/agency.csv')
df7 = pd.read_csv('GTFS/fare_attributes.csv')
df8 = pd.read_csv('GTFS/trips.csv')

In [17]:
#stop times df
df1.head()

     trip_id arrival_time departure_time  stop_id  stop_sequence
0  142_12_50     12:50:00       12:50:00      146              0
1  142_12_50     12:51:11       12:51:11      148              1
2  142_12_50     12:52:49       12:52:49      149              2
3  142_12_50     12:53:54       12:53:54      488              3
4  142_12_50     12:55:44       12:55:44      233              4

In [18]:
#stops
df2.head()

,stop_code,stop_id,stop_lat,stop_lon,stop_name,zone_id
0,DC4539,0,28.851958,77.088107,Narela Terminal,0
1,DC4540,1,28.853311,77.088548,Police Station Narela,1
2,DC4541,2,28.854965,77.089322,Safiyabad Crossing,2
3,DC4542,3,28.857713,77.092846,Ramdev Chowk / Pitori Johad,3
4,DC4543,4,28.857684,77.097117,Narela A-6 / CPJ College,4

In [20]:
#fare rules
df3.head()

             fare_id  route_id  origin_id  destination_id
0  DIMTS_142_146_148       142        146             148
1  DIMTS_142_146_149       142        146             149
2  DIMTS_142_146_488       142        146             488
3  DIMTS_142_146_233       142        146             233
4  DIMTS_142_146_915       142        146             915

In [21]:
#routes
df4.head()

  agency_id  route_id route_long_name  route_short_name  route_type
0     DIMTS       142          828AUP               NaN           3
1     DIMTS     10001         971DOWN               NaN           3
2     DIMTS       362         961DOWN               NaN           3
3     DIMTS       274         819DOWN               NaN           3
4     DIMTS     10386     824STLDOWN2               NaN           3

In [22]:
#calendar
df5.head() #useless

,start_date,end_date,monday,tuesday,wednesday,thursday,friday,saturday,sunday,service_id
0,20240101,20250101,1,1,1,1,1,1,1,1

In [23]:
#agency
df6.head() #useless

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone,agency_fare_url
0,DIMTS,Delhi Integrated Multi-Modal Transit System Ltd.,https://www.dimts.in/,Asia/Kolkata,en,NaN,NaN
1,DTC,Delhi Transport Corporation,http://dtc.delhi.gov.in/,Asia/Kolkata,en,NaN,NaN

In [24]:
#fare attributes
df7.head()

,fare_id,price,currency_type,payment_method,transfers,agency_id,old_fare_id
0,DIMTS_142_146_148,5.0,INR,0,0,DIMTS,DIMTS_142_146_148
1,DIMTS_142_146_149,5.0,INR,0,0,DIMTS,DIMTS_142_146_149
2,DIMTS_142_146_488,5.0,INR,0,0,DIMTS,DIMTS_142_146_488
3,DIMTS_142_146_233,5.0,INR,0,0,DIMTS,DIMTS_142_146_233
4,DIMTS_142_146_915,5.0,INR,0,0,DIMTS,DIMTS_142_146_915

In [47]:
df7[df7['agency_id'] == 'DTC']

,fare_id,price,currency_type,payment_method,transfers,agency_id,old_fare_id
1017453,DTC_10169_14268_10623,5.0,INR,0,0,DTC,DTC_10169_20691_668
1017454,DTC_10169_14268_10279,5.0,INR,0,0,DTC,DTC_10169_20691_300
1017455,DTC_10169_14268_14209,5.0,INR,0,0,DTC,DTC_10169_20691_20612
1017456,DTC_10169_14268_10764,5.0,INR,0,0,DTC,DTC_10169_20691_818
1017457,DTC_10169_14268_10765,5.0,INR,0,0,DTC,DTC_10169_20691_819
...,...,...,...,...,...,...,...
2305133,DTC_6001_11475_11214,5.0,INR,0,0,DTC,DTC_6001_1604_1306
2305134,DTC_6001_11475_15215,5.0,INR,0,0,DTC,DTC_6001_1604_21944
2305135,DTC_6001_11476_11214,5.0,INR,0,0,DTC,DTC_6001_1605_1306
2305136,DTC_6001_11476_15215,5.0,INR,0,0,DTC,DTC_6001_1605_21944
2305137,DTC_6001_11214_15215,5.0,INR,0,0,DTC,DTC_6001_1306_21944

In [25]:
#trips
df8.head()

   route_id  service_id    trip_id  shape_id
0       142           1  142_12_50       NaN
1       142           1  142_11_17       NaN
2       142           1  142_09_14       NaN
3       142           1  142_14_00       NaN
4       142           1  142_10_44       NaN

In [4]:
#make list of all the columns of the 8 dataframes and then check the overlapping ones

In [7]:
l1 = df1.columns.tolist()
l2 = df2.columns.tolist()
l3 = df3.columns.tolist()
l4 = df4.columns.tolist()
l5 = df5.columns.tolist()
l6 = df6.columns.tolist()
l7 = df7.columns.tolist()
l8 = df8.columns.tolist()

In [27]:
#print each list along with the name of the csv to which it belongs
print("stop_times.csv columns: ", l1, "\n")
print("stops.csv columns: ", l2, "\n")
print("fare_rules.csv columns: ", l3, "\n")
print("routes.csv columns: ", l4, "\n")
print("fare_attributes.csv columns: ", l7, "\n")
print("trips.csv columns: ", l8, "\n")

stop_times.csv columns:  ['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence']

stops.csv columns:  ['stop_code', 'stop_id', 'stop_lat', 'stop_lon', 'stop_name', 'zone_id']

fare_rules.csv columns:  ['fare_id', 'route_id', 'origin_id', 'destination_id']

routes.csv columns:  ['agency_id', 'route_id', 'route_long_name', 'route_short_name', 'route_type']

fare_attributes.csv columns:  ['fare_id', 'price', 'currency_type', 'payment_method', 'transfers', 'agency_id', 'old_fare_id']

trips.csv columns:  ['route_id', 'service_id', 'trip_id', 'shape_id']

In [26]:
df7.describe()

              price  payment_method  transfers
count  2.305138e+06       2305138.0  2305138.0
mean   1.132481e+01             0.0        0.0
std    4.597803e+00             0.0        0.0
min    5.000000e+00             0.0        0.0
25%    1.000000e+01             0.0        0.0
50%    1.000000e+01             0.0        0.0
75%    1.500000e+01             0.0        0.0
max    1.000000e+02             0.0        0.0

In [15]:
df4.head()

  agency_id  route_id route_long_name  route_short_name  route_type
0     DIMTS       142          828AUP               NaN           3
1     DIMTS     10001         971DOWN               NaN           3
2     DIMTS       362         961DOWN               NaN           3
3     DIMTS       274         819DOWN               NaN           3
4     DIMTS     10386     824STLDOWN2               NaN           3

Empty DataFrame
Columns: [trip_id, arrival_time, departure_time, stop_id, stop_sequence]
Index: []

In [31]:
#check if the fare id in df7 matches with fare id in df3 
df3['fare_id'].isin(df7['fare_id']).value_counts()
#merge the two dataframes on fare_id
df_fare = pd.merge(df3, df7, on='fare_id')

In [32]:
df_fare.head()

,fare_id,route_id,origin_id,destination_id,price,currency_type,payment_method,transfers,agency_id,old_fare_id
0,DIMTS_142_146_148,142,146,148,5.0,INR,0,0,DIMTS,DIMTS_142_146_148
1,DIMTS_142_146_149,142,146,149,5.0,INR,0,0,DIMTS,DIMTS_142_146_149
2,DIMTS_142_146_488,142,146,488,5.0,INR,0,0,DIMTS,DIMTS_142_146_488
3,DIMTS_142_146_233,142,146,233,5.0,INR,0,0,DIMTS,DIMTS_142_146_233
4,DIMTS_142_146_915,142,146,915,5.0,INR,0,0,DIMTS,DIMTS_142_146_915

In [39]:
#check if fare id in df7 matches with trip id in df1. just for checking, add 'DIMTS' prefix to trip id in df1 but dont lose the original trip id column 
df1['trip_id_prefixed'] = 'DIMTS' + df1['trip_id'].astype(str)
df1['trip_id_prefixed'].isin(df7['fare_id']).value_counts()

trip_id_prefixed
False    3724320
Name: count, dtype: int64

In [37]:
df1.head()

     trip_id arrival_time departure_time  stop_id  stop_sequence
0  142_12_50     12:50:00       12:50:00      146              0
1  142_12_50     12:51:11       12:51:11      148              1
2  142_12_50     12:52:49       12:52:49      149              2
3  142_12_50     12:53:54       12:53:54      488              3
4  142_12_50     12:55:44       12:55:44      233              4

In [48]:
#link the routes with the stops via routes and stops dataframes
df2[df2['stop_id'] == 10169]

     stop_code  stop_id   stop_lat   stop_lon    stop_name  zone_id
4676   U04005A    10169  28.604833  77.128283  Kirbi Place    10169

# Transit Routing System
Build a system to find nearest bus stops from coordinates and find routes between them

In [49]:
from math import radians, cos, sin, asin, sqrt

# Function to calculate haversine distance between two points
def haversine_distance(lat1, lon1, lat2, lon2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    Returns distance in kilometers
    """
    # Convert decimal degrees to radians
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371  # Radius of earth in kilometers
    
    return c * r

# Function to find the nearest stop to given coordinates
def find_nearest_stop(lat, lon, stops_df, top_n=5):
    """
    Find the nearest bus stops to given coordinates
    
    Parameters:
    - lat, lon: latitude and longitude of the location
    - stops_df: dataframe containing stops information (df2)
    - top_n: number of nearest stops to return
    
    Returns: DataFrame with nearest stops
    """
    # Calculate distance from the input coordinates to all stops
    stops_df['distance_km'] = stops_df.apply(
        lambda row: haversine_distance(lat, lon, row['stop_lat'], row['stop_lon']),
        axis=1
    )
    
    # Sort by distance and return top N stops
    nearest_stops = stops_df.nsmallest(top_n, 'distance_km')[['stop_id', 'stop_name', 'stop_lat', 'stop_lon', 'distance_km']]
    return nearest_stops

# Test the function with sample coordinates (Delhi coordinates)
sample_lat, sample_lon = 28.7041, 77.1025  # New Delhi center
print("Finding nearest stops to Delhi center coordinates...")
nearest = find_nearest_stop(sample_lat, sample_lon, df2.copy())
print(nearest)

Finding nearest stops to Delhi center coordinates...
      stop_id               stop_name   stop_lat   stop_lon  distance_km
3465     3928          Avantika Sec 1  28.703650  77.100518     0.199677
7847    13339          Avantika Sec 1  28.703650  77.100518     0.199677
2685     2910          Avantika Sec 1  28.703495  77.100547     0.202064
4236    20180  Rohini  Sec-1 Avantika  28.703710  77.100468     0.202870
3466     3929     Rohini Sec-3/4 Xing  28.706167  77.102720     0.230839

In [54]:
# Function to find routes between two stops
def find_routes_between_stops(start_stop_id, end_stop_id, stop_times_df, trips_df, routes_df):
    """
    Find all possible routes that connect two stops
    
    Parameters:
    - start_stop_id, end_stop_id: stop IDs for start and end locations
    - stop_times_df: dataframe with stop times (df1)
    - trips_df: dataframe with trips (df8)
    - routes_df: dataframe with routes (df4)
    
    Returns: List of route_ids and corresponding route details
    """
    # Find all trips that pass through the starting stop
    trips_at_start = stop_times_df[stop_times_df['stop_id'] == start_stop_id]['trip_id'].unique()
    
    # Find all trips that pass through the ending stop
    trips_at_end = stop_times_df[stop_times_df['stop_id'] == end_stop_id]['trip_id'].unique()
    
    # Find trips that pass through both stops
    common_trips = set(trips_at_start) & set(trips_at_end)
    
    if len(common_trips) == 0:
        print(f"No direct routes found from stop {start_stop_id} to stop {end_stop_id}")
        return pd.DataFrame()
    
    # IMPORTANT: Filter trips where start_stop comes BEFORE end_stop in the sequence
    valid_trips = []
    for trip_id in common_trips:
        trip_stops = stop_times_df[stop_times_df['trip_id'] == trip_id]
        start_seq = trip_stops[trip_stops['stop_id'] == start_stop_id]['stop_sequence'].values
        end_seq = trip_stops[trip_stops['stop_id'] == end_stop_id]['stop_sequence'].values
        
        if len(start_seq) > 0 and len(end_seq) > 0:
            if start_seq[0] < end_seq[0]:  # Start comes before end in the sequence
                valid_trips.append(trip_id)
    
    if len(valid_trips) == 0:
        print(f"No routes found where stop {start_stop_id} comes before stop {end_stop_id}")
        return pd.DataFrame()
    
    # Get route information for these valid trips
    routes_for_trips = trips_df[trips_df['trip_id'].isin(valid_trips)][['trip_id', 'route_id']].drop_duplicates()
    
    # Merge with route details
    result = routes_for_trips.merge(routes_df, on='route_id', how='left')
    
    return result

# Test the function with two sample stops
print("\n" + "="*50)
print("Finding routes between stops...")
sample_start_stop = df1['stop_id'].iloc[0]
sample_end_stop = df1['stop_id'].iloc[100]  # Different stop

print(f"Start stop: {sample_start_stop}, End stop: {sample_end_stop}")
routes = find_routes_between_stops(sample_start_stop, sample_end_stop, df1, df8, df4)
print("\nAvailable routes:")
print(routes[['trip_id', 'route_id', 'route_short_name', 'route_long_name']] if len(routes) > 0 else "No routes found")

==================================================
Finding routes between stops...
Start stop: 146, End stop: 146
No routes found where stop 146 comes before stop 146

Available routes:
No routes found

In [55]:
# Comprehensive function to get the complete journey
def plan_journey(start_lat, start_lon, end_lat, end_lon, stops_df, stop_times_df, trips_df, routes_df):
    """
    Complete journey planner:
    1. Find nearest stop to start coordinates
    2. Find nearest stop to end coordinates
    3. Find all routes connecting these stops
    
    Parameters:
    - start_lat, start_lon: Starting coordinates
    - end_lat, end_lon: Ending coordinates
    - stops_df, stop_times_df, trips_df, routes_df: GTFS dataframes
    
    Returns: Dictionary with journey information
    """
    print("="*60)
    print("JOURNEY PLANNER")
    print("="*60)
    
    # Find nearest stops
    print(f"\n1. Finding nearest bus stop to start location ({start_lat}, {start_lon})...")
    start_stops = find_nearest_stop(start_lat, start_lon, stops_df.copy(), top_n=3)
    print(start_stops.to_string())
    
    print(f"\n2. Finding nearest bus stop to end location ({end_lat}, {end_lon})...")
    end_stops = find_nearest_stop(end_lat, end_lon, stops_df.copy(), top_n=3)
    print(end_stops.to_string())
    
    # Get the nearest stop from each location
    nearest_start_stop = start_stops.iloc[0]['stop_id']
    nearest_end_stop = end_stops.iloc[0]['stop_id']
    
    print(f"\n3. Finding routes from stop {nearest_start_stop} to stop {nearest_end_stop}...")
    routes = find_routes_between_stops(nearest_start_stop, nearest_end_stop, stop_times_df, trips_df, routes_df)
    
    if len(routes) > 0:
        print("\nAvailable routes:")
        for idx, row in routes.iterrows():
            print(f"  - Route: {row['route_short_name']} ({row['route_id']})")
    else:
        print("\nNo direct routes found between these stops.")
    
    return {
        'start_location': (start_lat, start_lon),
        'end_location': (end_lat, end_lon),
        'nearest_start_stop': nearest_start_stop,
        'nearest_end_stop': nearest_end_stop,
        'start_candidates': start_stops,
        'end_candidates': end_stops,
        'routes': routes
    }

# Example: Plan a journey (Delhi coordinates)
print("\n")
journey = plan_journey(28.7041, 77.1025, 28.6139, 77.2090, df2, df1, df8, df4)

============================================================
JOURNEY PLANNER
============================================================

1. Finding nearest bus stop to start location (28.7041, 77.1025)...
      stop_id       stop_name   stop_lat   stop_lon  distance_km
3465     3928  Avantika Sec 1  28.703650  77.100518     0.199677
7847    13339  Avantika Sec 1  28.703650  77.100518     0.199677
2685     2910  Avantika Sec 1  28.703495  77.100547     0.202064

2. Finding nearest bus stop to end location (28.6139, 77.209)...
      stop_id                          stop_name   stop_lat   stop_lon  distance_km
2164     2323                       Udyog Bhawan  28.612729  77.211891     0.310796
6615    12108                       Udyog Bhawan  28.612729  77.211891     0.310796
4344    22525  Central Secretariat Metro Station  28.615049  77.211989     0.318481

3. Finding routes from stop 3928 to stop 2323...
No direct routes found from stop 3928 to stop 2323

No direct routes found between these stops.

In [52]:
# Get detailed path information for a specific route
def get_route_details(trip_id, stop_times_df, stops_df):
    """
    Get all stops and their sequence for a specific trip
    
    Parameters:
    - trip_id: Trip ID to get details for
    - stop_times_df: Stop times dataframe
    - stops_df: Stops dataframe
    
    Returns: DataFrame with stop sequence
    """
    # Get all stops for this trip in order
    trip_stops = stop_times_df[stop_times_df['trip_id'] == trip_id].sort_values('stop_sequence')
    
    # Merge with stop information
    trip_stops_detailed = trip_stops.merge(stops_df[['stop_id', 'stop_name', 'stop_lat', 'stop_lon']], 
                                           on='stop_id', how='left')
    
    return trip_stops_detailed[['stop_sequence', 'stop_id', 'stop_name', 'arrival_time', 'departure_time']]

# Example: Get route details for a trip
if len(journey['routes']) > 0:
    sample_trip = journey['routes'].iloc[0]['trip_id']
    print(f"\nRoute details for Trip {sample_trip}:")
    print("="*60)
    route_details = get_route_details(sample_trip, df1, df2)
    print(route_details.head(10).to_string())

In [53]:
# Debug: Check why no routes are found
print("\n" + "="*60)
print("DEBUGGING: Analyzing the route finding issue")
print("="*60)

# Let's check with two stops that should have a route
start_stop = 146  # Random stop from earlier
end_stop = 146    # Same stop (definitely has a route)

print(f"\nLooking for trips that go through stop {start_stop}:")
trips_at_start = df1[df1['stop_id'] == start_stop]['trip_id'].unique()
print(f"Found {len(trips_at_start)} trips")

print(f"\nLooking for trips that go through stop {end_stop}:")
trips_at_end = df1[df1['stop_id'] == end_stop]['trip_id'].unique()
print(f"Found {len(trips_at_end)} trips")

# Common trips
common_trips = set(trips_at_start) & set(trips_at_end)
print(f"\nCommon trips: {len(common_trips)}")

# Now let's try with two different stops from the same trip
if len(trips_at_start) > 0:
    sample_trip = trips_at_start[0]
    print(f"\n\nAnalyzing trip {sample_trip}:")
    
    trip_data = df1[df1['trip_id'] == sample_trip][['stop_id', 'stop_sequence', 'arrival_time', 'departure_time']].sort_values('stop_sequence')
    print(trip_data)
    
    # Pick first and second stop
    first_stop_in_trip = trip_data.iloc[0]['stop_id']
    second_stop_in_trip = trip_data.iloc[1]['stop_id']
    
    print(f"\nFirst stop: {first_stop_in_trip}, Second stop: {second_stop_in_trip}")
    print(f"Testing route finding from {first_stop_in_trip} to {second_stop_in_trip}...")
    
    routes_test = find_routes_between_stops(first_stop_in_trip, second_stop_in_trip, df1, df8, df4)
    print(f"Routes found: {len(routes_test)}")

============================================================
DEBUGGING: Analyzing the route finding issue
============================================================

Looking for trips that go through stop 146:
Found 1755 trips

Looking for trips that go through stop 146:
Found 1755 trips

Common trips: 1755


Analyzing trip 142_12_50:
    stop_id  stop_sequence arrival_time departure_time
0       146              0     12:50:00       12:50:00
1       148              1     12:51:11       12:51:11
2       149              2     12:52:49       12:52:49
3       488              3     12:53:54       12:53:54
4       233              4     12:55:44       12:55:44
5       915              5     12:57:10       12:57:10
6       916              6     12:58:43       12:58:43
7      2161              7     13:00:46       13:00:46
8      2162              8     13:04:51       13:04:51
9      3569              9     13:06:08       13:06:08
10     2163             10     13:10:54       13:10:54
11     2164             11     13:13:05       13:13:05
12     2165             12     13:17:24       13:17:24
13     2166             13     13:24:09       13:24:09
14     2167             14     13:27:13       13:27:13
15     2168             15     13:31:20       13:31:20
16     2169             16     13:37:36       13:37:36
17     2170             17     13:39:44       13:39:44
18     2171             18     13:41:39       13:41:39
19     2172             19     13:43:55       13:43:55
20     2173             20     13:45:44       13:45:44
21     2174             21     13:48:21       13:48:21
22     2175             22     13:54:41       13:54:41
23     2176             23     13:57:43       13:57:43
24     2177             24     13:58:58       13:58:58

First stop: 146, Second stop: 148
Testing route finding from 146 to 148...
Routes found: 935

In [ ]:
# Now test with the corrected logic - find stops that actually have a direct route
print("\n\n" + "="*60)
print("TESTING CORRECTED ROUTE FINDER")
print("="*60)

# Use the stops we know work from the debug output
start_stop = 146
end_stop = 148

print(f"\nTesting route finding from stop {start_stop} to stop {end_stop}...")
routes = find_routes_between_stops(start_stop, end_stop, df1, df8, df4)

if len(routes) > 0:
    print(f"\nâœ“ SUCCESS! Found {len(routes)} routes!")
    print("\nFirst 10 routes:")
    print(routes[['trip_id', 'route_id', 'route_short_name', 'route_long_name']].head(10))
else:
    print("No routes found")

# Also test with two random consecutive stops on the same trip
print("\n\n" + "="*60)
print("FINDING A TRIP WITH MULTIPLE STOPS")
print("="*60)

sample_trip = df1[df1['stop_id'] == 146]['trip_id'].iloc[0]
trip_stops = df1[df1['trip_id'] == sample_trip].sort_values('stop_sequence').head(5)
print(f"\nTrip {sample_trip} stops:")
print(trip_stops[['stop_id', 'stop_sequence']])

# Get first two stops
if len(trip_stops) >= 2:
    test_start = trip_stops.iloc[0]['stop_id']
    test_end = trip_stops.iloc[2]['stop_id']
    
    print(f"\n\nTesting route from {test_start} to {test_end}...")
    test_routes = find_routes_between_stops(test_start, test_end, df1, df8, df4)
    
    if len(test_routes) > 0:
        print(f"âœ“ Found {len(test_routes)} routes!")
        print("\nSample routes:")
        print(test_routes[['trip_id', 'route_id', 'route_short_name']].head())

============================================================
TESTING CORRECTED ROUTE FINDER
============================================================

Testing route finding from stop 146 to stop 148...

âœ“ SUCCESS! Found 935 routes!

First 10 routes:
     trip_id  route_id  route_short_name route_long_name
0  142_12_50       142               NaN          828AUP
1  142_11_17       142               NaN          828AUP
2  142_09_14       142               NaN          828AUP
3  142_14_00       142               NaN          828AUP
4  142_10_44       142               NaN          828AUP
5  142_12_52       142               NaN          828AUP
6  142_12_19       142               NaN          828AUP
7  142_18_19       142               NaN          828AUP
8  142_16_07       142               NaN          828AUP
9  142_19_49       142               NaN          828AUP


============================================================
FINDING A TRIP WITH MULTIPLE STOPS
============================================================

Trip 142_12_50 stops:

KeyError: "['stop_name'] not in index"

In [57]:
# Let's trace the actual path of trip 142_12_50 to see how it goes from 146 to 148
print("\n" + "="*70)
print("TRACING THE PATH: How does trip 142_12_50 go from stop 146 to 148?")
print("="*70)

sample_trip_to_trace = '142_12_50'

# Get all stops on this trip in order
trip_path = df1[df1['trip_id'] == sample_trip_to_trace][['stop_sequence', 'stop_id', 'arrival_time', 'departure_time']].sort_values('stop_sequence')

print(f"\nComplete path for trip {sample_trip_to_trace}:")
print(trip_path.to_string())

# Highlight where 146 and 148 are
print("\n" + "-"*70)
stop_146_seq = trip_path[trip_path['stop_id'] == 146]['stop_sequence'].values
stop_148_seq = trip_path[trip_path['stop_id'] == 148]['stop_sequence'].values

if len(stop_146_seq) > 0 and len(stop_148_seq) > 0:
    print(f"âœ“ Stop 146 is at sequence: {stop_146_seq[0]}")
    print(f"âœ“ Stop 148 is at sequence: {stop_148_seq[0]}")
    print(f"\nâ†’ The bus passes stop 146 FIRST (sequence {stop_146_seq[0]})")
    print(f"â†’ Then continues and passes stop 148 (sequence {stop_148_seq[0]})")
    print(f"â†’ Distance between them: {int(stop_148_seq[0] - stop_146_seq[0])} stops")
    
    # Show the intermediate stops
    intermediate = trip_path[(trip_path['stop_sequence'] > stop_146_seq[0]) & 
                            (trip_path['stop_sequence'] < stop_148_seq[0])]
    if len(intermediate) > 0:
        print(f"\nIntermediate stops between 146 and 148:")
        print(intermediate[['stop_sequence', 'stop_id']].to_string())
else:
    print("Trip doesn't have both stops")

======================================================================
TRACING THE PATH: How does trip 142_12_50 go from stop 146 to 148?
======================================================================

Complete path for trip 142_12_50:
    stop_sequence  stop_id arrival_time departure_time
0               0      146     12:50:00       12:50:00
1               1      148     12:51:11       12:51:11
2               2      149     12:52:49       12:52:49
3               3      488     12:53:54       12:53:54
4               4      233     12:55:44       12:55:44
5               5      915     12:57:10       12:57:10
6               6      916     12:58:43       12:58:43
7               7     2161     13:00:46       13:00:46
8               8     2162     13:04:51       13:04:51
9               9     3569     13:06:08       13:06:08
10             10     2163     13:10:54       13:10:54
11             11     2164     13:13:05       13:13:05
12             12     2165     13:17:24       13:17:24
13             13     2166     13:24:09       13:24:09
14             14     2167     13:27:13       13:27:13
15             15     2168     13:31:20       13:31:20
16             16     2169     13:37:36       13:37:36
17             17     2170     13:39:44       13:39:44
18             18     2171     13:41:39       13:41:39
19             19     2172     13:43:55       13:43:55
20             20     2173     13:45:44       13:45:44
21             21     2174     13:48:21       13:48:21
22             22     2175     13:54:41       13:54:41
23             23     2176     13:57:43       13:57:43
24             24     2177     13:58:58       13:58:58

----------------------------------------------------------------------
âœ“ Stop 146 is at sequence: 0
âœ“ Stop 148 is at sequence: 1

â†’ The bus passes stop 146 FIRST (sequence 0)
â†’ Then continues and passes stop 148 (sequence 1)
â†’ Distance between them: 1 stops

In [58]:
# Understanding Trip IDs - They're NOT start/end locations!
print("\n" + "="*70)
print("CLARIFYING TRIP IDs")
print("="*70)

trip_id = '142_12_50'
print(f"\nTrip ID: {trip_id}")
print("Does this mean 'from 142 to 50'? NO! âŒ")
print("\nTrip IDs are just unique identifiers for a specific bus run.")
print("The format might be: <route_id>_<departure_time>")
print("or just a sequential number assigned by the transit system.")

# Let's find what route this trip belongs to
trip_info = df8[df8['trip_id'] == trip_id]
print(f"\nTrip {trip_id} details:")
print(trip_info)

route_id = trip_info['route_id'].values[0]
route_info = df4[df4['route_id'] == route_id]
print(f"\nâœ“ This trip belongs to ROUTE {route_id}")
print(f"âœ“ Route Name: {route_info['route_short_name'].values[0]}")
print(f"âœ“ Route Direction: {route_info['route_long_name'].values[0]}")

print("\n" + "-"*70)
print("KEY POINT:")
print("-"*70)
print(f"Trip {trip_id} is a SINGLE bus run on route {route_id}")
print(f"It doesn't go FROM 142 TO 50")
print(f"Instead, it follows the complete route path, stopping at:")
print(f"  â†’ Stop 146 (start)")
print(f"  â†’ Stop 148 (next)")
print(f"  â†’ Stop 149 (then)")
print(f"  â†’ ... and many more stops all day long")
print(f"\nThe bus follows the same route multiple times per day.")
print(f"Each trip at a different time is a different trip_id")

======================================================================
CLARIFYING TRIP IDs
======================================================================

Trip ID: 142_12_50
Does this mean 'from 142 to 50'? NO! âŒ

Trip IDs are just unique identifiers for a specific bus run.
The format might be: <route_id>_<departure_time>
or just a sequential number assigned by the transit system.

Trip 142_12_50 details:
   route_id  service_id    trip_id  shape_id
0       142           1  142_12_50       NaN

âœ“ This trip belongs to ROUTE 142
âœ“ Route Name: nan
âœ“ Route Direction: 828AUP

----------------------------------------------------------------------
KEY POINT:
----------------------------------------------------------------------
Trip 142_12_50 is a SINGLE bus run on route 142
It doesn't go FROM 142 TO 50
Instead, it follows the complete route path, stopping at:
  â†’ Stop 146 (start)
  â†’ Stop 148 (next)
  â†’ Stop 149 (then)
  â†’ ... and many more stops all day long

The bus follows the same route multiple times per day.
Each trip at a different time is a different trip_id

In [59]:
# Now let's see what are the ACTUAL ROUTES (not trips) between stops 146 and 148
print("\n" + "="*70)
print("WHAT ARE THE ACTUAL ROUTES?")
print("="*70)

start_stop = 146
end_stop = 148

print(f"\nFinding routes (bus lines) from stop {start_stop} to stop {end_stop}...")
routes_data = find_routes_between_stops(start_stop, end_stop, df1, df8, df4)

# Get unique routes only (not all 935 trips)
unique_routes = routes_data[['route_id', 'route_short_name', 'route_long_name']].drop_duplicates()

print(f"\nâœ“ Found {len(unique_routes)} UNIQUE ROUTES (bus lines)")
print("\nThese are the different bus lines that connect stop 146 to stop 148:")
print(unique_routes.to_string(index=False))

print("\n" + "-"*70)
print("SUMMARY:")
print("-"*70)
print(f"â€¢ {len(unique_routes)} different BUS ROUTES (lines) go from stop 146 â†’ 148")
print(f"â€¢ {len(routes_data)} total TRIPS (scheduled instances) exist")
print(f"  (This means each route runs multiple times throughout the day)")
print("\nFor example:")
for idx, route in unique_routes.head(3).iterrows():
    trips_count = len(routes_data[routes_data['route_id'] == route['route_id']])
    print(f"  â†’ Route {route['route_id']} ({route['route_long_name']}) has {trips_count} trips per day")

======================================================================
WHAT ARE THE ACTUAL ROUTES?
======================================================================

Finding routes (bus lines) from stop 146 to stop 148...

âœ“ Found 28 UNIQUE ROUTES (bus lines)

These are the different bus lines that connect stop 146 to stop 148:
 route_id  route_short_name route_long_name
      142               NaN          828AUP
     1147               NaN         872DOWN
      687               NaN        578ADOWN
     1993               NaN          818BUP
     1319               NaN      825STLDOWN
     1693               NaN        790ADOWN
     2044               NaN        818ADOWN
      231               NaN         790DOWN
      449               NaN         578DOWN
     1580               NaN        923ADOWN
      585               NaN        817NDOWN
     1180               NaN      790STLDOWN
       25               NaN        790BDOWN
     1257               NaN           790UP
      959               NaN       817NSTLUP
      864               NaN     578LSTLDOWN
     1247               NaN         783DOWN
     1667               NaN        708STLUP
      581               NaN          578AUP
      892               NaN     825+790DOWN
      490               NaN        539ADOWN
     2005               NaN         923DOWN
    10595               NaN          708DWN
      850               NaN         859DOWN
     1475               NaN         892DOWN
     1424               NaN        539BDOWN
      529               NaN           578UP
     1851               NaN        828ADOWN

----------------------------------------------------------------------
SUMMARY:
----------------------------------------------------------------------
â€¢ 28 different BUS ROUTES (lines) go from stop 146 â†’ 148
â€¢ 935 total TRIPS (scheduled instances) exist
  (This means each route runs multiple times throughout the day)

For example:
  â†’ Route 142 (828AUP) has 33 trips per day
  â†’ Route 1147 (872DOWN) has 48 trips per day
  â†’ Route 687 (578ADOWN) has 70 trips per day

In [60]:
# WHERE DOES THE DATA COME FROM?
print("\n" + "="*70)
print("UNDERSTANDING THE DATA SOURCE")
print("="*70)

print("\n1. DATA SOURCE: stop_times.csv")
print("-" * 70)
print("You loaded this file at the start:")
print("  df1 = pd.read_csv('GTFS/stop_times.csv')")
print("\nThis is the file that tells us which stops each bus trip visits!")

print("\n\n2. WHAT'S IN stop_times.csv?")
print("-" * 70)
print("Columns in df1:")
print(df1.columns.tolist())

print("\n\nFirst few rows of df1:")
print(df1.head(10))

print("\n\n3. HOW DO WE KNOW STOP 146 EXISTS IN THE DATA?")
print("-" * 70)
print("By looking in the 'stop_id' column:")
rows_with_146 = df1[df1['stop_id'] == 146]
print(f"Number of records with stop_id = 146: {len(rows_with_146)}")
print("\nSample records:")
print(rows_with_146.head())

print("\n\n4. HOW DO WE KNOW A BUS GOES FROM 146 TO 148?")
print("-" * 70)
print("By finding trips that appear in BOTH:")
print(f"  â€¢ Trips that visit stop 146")
print(f"  â€¢ Trips that visit stop 148")
print(f"  â€¢ AND where 146 comes BEFORE 148 in the sequence")

trips_through_146 = df1[df1['stop_id'] == 146]['trip_id'].unique()
trips_through_148 = df1[df1['stop_id'] == 148]['trip_id'].unique()
common = set(trips_through_146) & set(trips_through_148)

print(f"\nTrips through stop 146: {len(trips_through_146)}")
print(f"Trips through stop 148: {len(trips_through_148)}")
print(f"Trips through BOTH: {len(common)}")

print("\n\n5. EXAMPLE: Let's look at one specific trip")
print("-" * 70)
sample_trip = list(common)[0]
print(f"Trip: {sample_trip}")
trip_records = df1[df1['trip_id'] == sample_trip].sort_values('stop_sequence')
print(trip_records[['stop_sequence', 'stop_id', 'arrival_time', 'departure_time']])

======================================================================
UNDERSTANDING THE DATA SOURCE
======================================================================

1. DATA SOURCE: stop_times.csv
----------------------------------------------------------------------
You loaded this file at the start:
  df1 = pd.read_csv('GTFS/stop_times.csv')

This is the file that tells us which stops each bus trip visits!


2. WHAT'S IN stop_times.csv?
----------------------------------------------------------------------
Columns in df1:
['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence', 'trip_id_prefixed']


First few rows of df1:
     trip_id arrival_time departure_time  stop_id  stop_sequence  \
0  142_12_50     12:50:00       12:50:00      146              0
1  142_12_50     12:51:11       12:51:11      148              1
2  142_12_50     12:52:49       12:52:49      149              2
3  142_12_50     12:53:54       12:53:54      488              3
4  142_12_50     12:55:44       12:55:44      233              4
5  142_12_50     12:57:10       12:57:10      915              5
6  142_12_50     12:58:43       12:58:43      916              6
7  142_12_50     13:00:46       13:00:46     2161              7
8  142_12_50     13:04:51       13:04:51     2162              8
9  142_12_50     13:06:08       13:06:08     3569              9

  trip_id_prefixed
0   DIMTS142_12_50
1   DIMTS142_12_50
2   DIMTS142_12_50
3   DIMTS142_12_50
4   DIMTS142_12_50
5   DIMTS142_12_50
6   DIMTS142_12_50
7   DIMTS142_12_50
8   DIMTS142_12_50
9   DIMTS142_12_50


3. HOW DO WE KNOW STOP 146 EXISTS IN THE DATA?
----------------------------------------------------------------------
By looking in the 'stop_id' column:
Number of records with stop_id = 146: 1755

Sample records:
       trip_id arrival_time departure_time  stop_id  stop_sequence  \
0    142_12_50     12:50:00       12:50:00      146              0
25   142_11_17     11:17:00       11:17:00      146              0
50   142_09_14     09:14:00       09:14:00      146              0
75   142_14_00     14:00:00       14:00:00      146              0
100  142_10_44     10:44:00       10:44:00      146              0

    trip_id_prefixed
0     DIMTS142_12_50
25    DIMTS142_11_17
50    DIMTS142_09_14
75    DIMTS142_14_00
100   DIMTS142_10_44


4. HOW DO WE KNOW A BUS GOES FROM 146 TO 148?
----------------------------------------------------------------------
By finding trips that appear in BOTH:
  â€¢ Trips that visit stop 146
  â€¢ Trips that visit stop 148
  â€¢ AND where 146 comes BEFORE 148 in the sequence

Trips through stop 146: 1755
Trips through stop 148: 2653
Trips through BOTH: 935


5. EXAMPLE: Let's look at one specific trip
----------------------------------------------------------------------
Trip: 529_08_57
         stop_sequence  stop_id arrival_time departure_time
1344270              0      146     08:57:00       08:57:00
1344271              1      148     08:58:11       08:58:11
1344272              2      149     08:59:49       08:59:49
1344273              3      488     09:00:54       09:00:54
1344274              4      489     09:02:59       09:02:59
1344275              5      490     09:05:55       09:05:55
1344276              6      491     09:07:55       09:07:55
1344277              7      493     09:10:18       09:10:18
1344278              8     1166     09:13:41       09:13:41
1344279              9     1167     09:16:38       09:16:38
1344280             10     1168     09:22:11       09:22:11
1344281             11     1246     09:24:19       09:24:19
1344282             12     1247     09:26:07       09:26:07
1344283             13     1248     09:27:54       09:27:54
1344284             14     1249     09:30:57       09:30:57
1344285             15     1250     09:33:19       09:33:19
1344286             16     1251     09:35:24       09:35:24
1344287             17     1252     09:40:25       09:40:25
1344288             18     1253     09:45:56       09:45:56
1344289             19     1255     09:52:02       09:52:02
1344290             20     1256     09:52:34       09:52:34
1344291             21     1257     09:59:15       09:59:15
1344292             22      589     10:04:09       10:04:09
1344293             23      590     10:05:50       10:05:50
1344294             24     1259     10:07:51       10:07:51
1344295             25     1260     10:11:18       10:11:18
1344296             26     1261     10:13:48       10:13:48
1344297             27     1262     10:19:02       10:19:02
1344298             28     1263     10:22:30       10:22:30
1344299             29     1264     10:31:27       10:31:27
1344300             30     1217     10:35:58       10:35:58
1344301             31     1218     10:38:21       10:38:21
1344302             32     1219     10:40:13       10:40:13
1344303             33     1220     10:43:30       10:43:30
1344304             34     1221     10:46:58       10:46:58
1344305             35     1222     10:49:43       10:49:43
1344306             36     1223     10:51:02       10:51:02
1344307             37     1224     10:52:04       10:52:04
1344308             38     2973     10:52:46       10:52:46
1344309             39     2974     10:54:02       10:54:02
1344310             40     1060     10:55:31       10:55:31
1344311             41     3603     10:56:09       10:56:09
1344312             42     2379     10:59:44       10:59:44
1344313             43     2627     11:01:08       11:01:08
1344314             44     2628     11:02:10       11:02:10
1344315             45     2107     11:03:47       11:03:47
1344316             46     2108     11:07:17       11:07:17
1344317             47     1022     11:10:37       11:10:37
1344318             48     1403     11:12:47       11:12:47

In [ ]:
import networkx as nx
from datetime import datetime, timedelta

print("\n" + "="*70)
print("BUILDING DIRECTED GRAPHS FOR TRANSIT ROUTING")
print("="*70)

# Function to convert time string to seconds
def time_to_seconds(time_str):
    """Convert HH:MM:SS to seconds"""
    try:
        h, m, s = map(int, str(time_str).split(':'))
        return h * 3600 + m * 60 + s
    except:
        return 0

# Function to build time-weighted directed graph
def build_time_graph(stop_times_df, stops_df, trips_df, routes_df):
    """
    Build a directed graph where edge weights = travel time between stops
    
    Returns: NetworkX DiGraph
    """
    G_time = nx.DiGraph()
    
    # Add all stops as nodes
    for _, stop in stops_df.iterrows():
        G_time.add_node(stop['stop_id'], 
                       name=stop['stop_name'],
                       lat=stop['stop_lat'],
                       lon=stop['stop_lon'])
    
    # Add edges from stop_times data
    # Group by trip to get consecutive stops
    for trip_id in stop_times_df['trip_id'].unique():
        trip_stops = stop_times_df[stop_times_df['trip_id'] == trip_id].sort_values('stop_sequence')
        
        # Get route info for this trip
        trip_route = trips_df[trips_df['trip_id'] == trip_id]
        if len(trip_route) > 0:
            route_id = trip_route['route_id'].values[0]
        else:
            route_id = None
        
        # Connect consecutive stops
        for i in range(len(trip_stops) - 1):
            from_stop = trip_stops.iloc[i]
            to_stop = trip_stops.iloc[i + 1]
            
            # Calculate travel time
            from_time = time_to_seconds(from_stop['departure_time'])
            to_time = time_to_seconds(to_stop['arrival_time'])
            travel_time = max(0, to_time - from_time)  # Handle midnight crossing
            
            # Add edge with travel time as weight
            G_time.add_edge(
                from_stop['stop_id'],
                to_stop['stop_id'],
                weight=travel_time,
                trip_id=trip_id,
                route_id=route_id,
                departure_time=from_stop['departure_time'],
                arrival_time=to_stop['arrival_time']
            )
    
    return G_time

# Build the time-weighted graph
print("\nBuilding time-weighted directed graph...")
G_time = build_time_graph(df1, df2, df8, df4)

print(f"âœ“ Graph created!")
print(f"  â€¢ Nodes (stops): {G_time.number_of_nodes()}")
print(f"  â€¢ Edges (connections): {G_time.number_of_edges()}")

# Show some example edges
print("\nSample edges (stop â†’ stop with travel time):")
sample_edges = list(G_time.edges(data=True))[:5]
for from_stop, to_stop, data in sample_edges:
    from_name = G_time.nodes[from_stop].get('name', f'Stop {from_stop}')
    to_name = G_time.nodes[to_stop].get('name', f'Stop {to_stop}')
    travel_time = data['weight']
    route_id = data.get('route_id', 'N/A')
    print(f"  {from_stop} ({from_name}) â†’ {to_stop} ({to_name}) | Time: {travel_time}s | Route: {route_id}")

======================================================================
BUILDING DIRECTED GRAPHS FOR TRANSIT ROUTING
======================================================================

Building time-weighted directed graph...